div
    #backupModal.modal.fade(
            tabindex='-1'
            role='dialog'
            aria-labelledby='backupModalLabel'
            :class="{'in': showBackup}"
            :style="{display: showBackup? 'block': 'none'}"
        )
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(
                            type='button'
                            data-dismiss='modal'
                            aria-label='Close'
                        )
                        span(
                                aria-hidden='true'
                                @click="showBackup = false"
                            ) &times;
                    h4#backupModalLabel.modal-title
                        | Backups
                        button.btn.btn-link(@click="backupsRefresh")
                            i.glyphicon.glyphicon-refresh
                        button.btn.btn-warning(
                                title="Switch cmd-admin-tmp / cmd-admin folders"
                                @click="backupSwitch"
                            )
                            i.glyphicon.glyphicon-random
                .modal-body
                    .row
                        .col-sm-6
                            .list-group
                                button.list-group-item.active(
                                        type='button'
                                        @click="backupCreate"
                                    )
                                    i.glyphicon.glyphicon-cloud
                                    |  Create new
                                a.list-group-item(
                                        v-for="(item, key) in downloadStructure"
                                        :href="'/api/backups/' + key"
                                        :download="key"
                                    )
                                    i.glyphicon.glyphicon-cloud-download
                                    |  {{ item }}
                                    span.badge.badge-danger(
                                            @click.prevent="backupDel(key)"
                                            title="Delete"
                                        ) &times;
                                    span.badge(
                                            @click.prevent="backupApply(key)"
                                            title="Apply"
                                        )
                                        i.glyphicon.glyphicon-saved
                        .col-sm-6
                            .list-group
                                button.list-group-item.active(
                                        type='button'
                                        @click='uploadFile'
                                    )
                                    i.glyphicon.glyphicon-cloud-upload
                                    |  Upload
                                    input.hide(
                                            type='file'
                                            accept='application/zip'
                                            @change='uploadFileChange'
                                        )
                                a.list-group-item(
                                        v-for="(item, key) in uploadStructure"
                                        :href="'/api/backups/' + key"
                                        :download="key"
                                    )
                                    i.glyphicon.glyphicon-cloud-download
                                    |  {{ item }}
                                    span.badge(
                                            @click.prevent="backupDel(key)"
                                            title="Delete"
                                        ) &times;
                                    span.badge(
                                            @click.prevent="backupApply(key)"
                                            title="Apply"
                                        )
                                        i.glyphicon.glyphicon-saved
                .modal-footer
                    button.btn.btn-default(
                            type='button'
                            data-dismiss='modal'
                            @click="showBackup=false"
                        ) Close
    .modal-backdrop.fade(
            v-if="showBackup"
            @click="showBackup=false"
            :class="{'in': showBackup}"
        )
