
template(v-if='isFirst')

    //- Search/filter

    .input-group.input-group-sm.m-t-5.searchFilter(
            :class='{showSearch: search || isFocused}'
        )
        input.form-control(
                v-model.trim='search'
                ref='searchFilterInput'
                type='search'
                @blur='isFocused = false'
                @focus='isFocused = true'
                placeholder='File name filter...'
            )
        span.input-group-btn
            button.btn.btn-default(
                    @blur='isFocused = false'
                    @focus='isFocused = true'
                    type='button'
                    @click="search = ''; $refs.searchFilterInput.focus()"
                )
                span.glyphicon.glyphicon-remove

    //- New folder

    input#fileID_newFolder(
        type='checkbox'
        name='hosted_files'
    )
    label(
            for='fileID_newFolder'
            @click='clickNew()'
            @contextmenu.prevent.stop='contextClick(startDir, structure)'
        ) NEW FOLDER

    //- README.md

    input(
            type='radio'
            name='hosted_files'
            id='fileID_README.md'
        )
    label(
            for='fileID_README.md'
            @click="click('README.md', null, 'README.md')"
        ) README.md

    //- users.json

    input(
            type='radio'
            name='hosted_files'
            id='fileID_README.md'
        )
    label(
            v-if='$root.isAdmin'
            for='fileID_USERS.json'
            @click="click('USERS.json', null, 'USERS.json')"
        ) USERS

    hr
